@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Khula", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* header container css start */

.header-container {
  padding-top: 155px;
  padding-bottom: 155px;
}
.header-container h2 {
  width: 840px;
  margin: 0 auto;
  color: var(--Primary, #000);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.header-container h5 {
  width: 769px;
  margin: 0 auto;
  color: var(--Pars-Color, #7c7c7c);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 20px;
}

.header-container button {
  display: flex;
  width: 196px;
  padding: 20px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--White-Color, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
  margin: 0 auto;
  border: 1px solid var(--Primary, #000);
  background: var(--Primary, #000);
  margin-top: 19px;
}

/* responsive for mobile devices */

@media only screen and (max-width: 576px) {
  .header-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header-container h2 {
    width: 358px;
    margin: 0 auto;
    color: var(--Primary, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-transform: capitalize;
  }
  .header-container h5 {
    width: 347px;
    margin: 0 auto;
    color: var(--Pars-Color, #7c7c7c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 237.5% */
    text-transform: capitalize;
  }

  .header-container button {
    display: flex;
    width: 350px;
    padding: 20px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--Primary, #000);
    background: var(--Primary, #000);
    color: var(--White-Color, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
    text-transform: capitalize;
  }
}

/* header container css  end*/

/* skill sections start */
.skill_section h1 {
  color: #263138;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin-bottom: 62px;
}
.skill_section span {
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.skill_container h2 {
  text-align: center;
  color: #445964;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 15px;
}
.skill_section svg {
  width: 50%;
  margin: auto;
}

.skill_container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  row-gap: 71px;
}

@media only screen and (max-width: 576px) {
  .skill_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    row-gap: 71px;
  }
}
/* skill sections end */

/* portfolio section start */

/* .portfolio_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#da22ff, #9733ee);
  clip-path: circle(30% at right 70%);
}

.portfolio_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e55d87, #5fc3e4);
  clip-path: circle(20% at 10% 10%);
} */

.portfolio_section {
  padding-top: 255px;
  padding-bottom: 155px;
}

.portfolio_section h1 {
  text-align: center;
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.portfolio_section .portfolio_card_container {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  margin-top: 71px;
}

.portfolio_card_container .card:hover {
  margin-top: -15px;
  cursor: pointer;
  transition-duration: 1000ms;
}

/* responsive design  */

@media only screen and (max-width: 576px) {
  .portfolio_section .portfolio_card_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin-top: 71px;
  }
  .portfolio_section .portfolio_card_container .group {
    width: 350px;
    margin: 0 auto;
    height: 384px;
  }
}

/* portfolio section end */

/* all Projects  section start */

.allProjects_section {
  padding-top: 155px;
  padding-bottom: 155px;
}

.allProjects_section h1 {
  text-align: center;
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.allProjects_section .allProjects_card_container {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  margin-top: 71px;
}

.allProjects_card_container .card:hover {
  margin-top: -15px;
  cursor: pointer;
  transition-duration: 1000ms;
}

@media only screen and (max-width: 576px) {
  .allProjects_section .allProjects_card_container {
    /* width: 50%;
    margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin-top: 71px;
  }
  .allProjects_section .allProjects_card_container article {
    width: 350px;
    margin: 0 auto;
    /* height: 384px; */
  }
}

.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  width: 323px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.25em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1fcac5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.plan .button {
  background-color: #445964;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: #445964;
}

/* all Projects  section end */

/* loader css start */

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

/* loader css end */

/* contact section start */

.contact_section {
  padding-top: 100px;
  padding-bottom: 150px;
}
.contact_section h1 {
  text-align: center;
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.contact_section h3 {
  padding-top: 15px;
  text-align: center;
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Par-Color, #7c7c7c);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px;
  text-transform: capitalize;
}
.contact_section button {
  text-align: center;
  display: flex;
  margin: 0 auto;
  color: var(--Par-Color, #fff);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px;
  text-transform: capitalize;
  background-color: #445964;
}
.contact_section button:hover {
  background-color: #445964;
}
