@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Khula", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* header container css */

.header-container {
  padding-top: 155px;
  padding-bottom: 155px;
}
.header-container h2 {
  width: 840px;
  margin: 0 auto;
  color: var(--Primary, #000);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.header-container h5 {
  width: 769px;
  margin: 0 auto;
  color: var(--Pars-Color, #7c7c7c);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 20px;
}

.header-container button {
  display: flex;
  width: 196px;
  padding: 20px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--White-Color, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
  margin: 0 auto;
  border: 1px solid var(--Primary, #000);
  background: var(--Primary, #000);
  margin-top: 19px;
}

/* responsive for mobile devices */

@media only screen and (max-width: 576px) {
  .header-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header-container h2 {
    width: 358px;
    margin: 0 auto;
    color: var(--Primary, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-transform: capitalize;
  }
  .header-container h5 {
    width: 347px;
    margin: 0 auto;
    color: var(--Pars-Color, #7c7c7c);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 237.5% */
    text-transform: capitalize;
  }

  .header-container button {
    display: flex;
    width: 350px;
    padding: 20px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--Primary, #000);
    background: var(--Primary, #000);
    color: var(--White-Color, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
    text-transform: capitalize;
  }
}

/* header container css */

/* skill sections */
.skill_section h1 {
  color: #263138;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin-bottom: 62px;
}
.skill_section span {
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.skill_container h2 {
  text-align: center;
  color: #445964;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 15px;
}
.skill_section svg {
  width: 50%;
  margin: auto;
}

.skill_container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  row-gap: 71px;
}

@media only screen and (max-width: 576px) {
  .skill_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    row-gap: 71px;
  }
}
/* skill sections */

/* portfolio card */

/* .portfolio_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#da22ff, #9733ee);
  clip-path: circle(30% at right 70%);
}

.portfolio_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e55d87, #5fc3e4);
  clip-path: circle(20% at 10% 10%);
} */

.portfolio_section {
  padding-top: 255px;
  padding-bottom: 255px;
}

.portfolio_section h1 {
  text-align: center;
  color: #445964;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.portfolio_section .portfolio_card_container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.portfolio_section .portfolio_card_container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.portfolio_section .portfolio_card_container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.portfolio_section .portfolio_card_container .card:hover .content {
  transform: translateY(-20px);
}

.portfolio_section .portfolio_card_container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.portfolio_section .portfolio_card_container .card .content .imgBx Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_section .portfolio_card_container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.portfolio_section .portfolio_card_container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.portfolio_section .portfolio_card_container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.portfolio_section .portfolio_card_container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

.portfolio_section .portfolio_card_container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.portfolio_section .portfolio_card_container .card .sci li a {
  color: #fff;
  font-size: 20px;
}
/* portfolio card */
